<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %> </title>
    <link rel="stylesheet" href="css/help.css">
</head>
<body>
    <h1 id="titleMainpage">Blómabúð</h1>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="about">About</a></li>
        <li><a href="help">Help</a></li>
    </ul>

    <p id="aboutHelppage">
        Velkomin á hjálparsíðuna okkar! Við skiljum að stundum 
        gætir þú spurninga eða áhyggjum, og við erum hér til að 
        aðstoða þig. <br>

        Ef þú þarft hjálp við að gera pöntun, vinsamlegast vísið 
        til upplýsinga um pöntun okkar á heimasíðunni okkar. Ef 
        þú hefur spurninga um sérsniðið vöru, getur spurningasafnið 
        okkar haft svaret sem þú leitar að. <br>

        Ef þú hefur enn spurningar eða áhyggjur, vinsamlegast 
        hafið ekki áhyggju af að hafa samband við okkur. Við 
        erum til staðar á daginn frá 9 til 17 á virkdag. Þú 
        getur nálgast okkur í síma 555-5555 eða í tölvupósti 
        customerservice@flowershop.com <br>

        Takk fyrir að velja blómabúðina okkar. Við gerum okkur 
        í að veita þér bestu þjónustu og vörur, og við vælum fyrir 
        fyrirtækið þitt. <br>
    </p>
</body>
</html>