<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %> </title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1 id="titleMainpage">Blómabúð</h1>
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="shop.ejs">Shop</a></li>
        <li><a href="about.ejs">About</a></li>
        <li><a href="help.ejs">Help</a></li>
    </ul>
    <p>
        Stærsta blómabúð reykjavíkur
    </p>
</body>
</html>