<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %> </title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <a href=""><h1 id="titleMainpage">Blómabúð</h1></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="help">Help</a></li>
    </ul>
    <p id="aboutMainpage">
        Velkomin á heimasíðu blómabúðar okkar! Við sérhæfum okkur
         í að veita faglegt og fallegt blóm fyrir öll tækifæri. 
         Frá afmælisdögum til brúðkaupa, við á okkar fyrir valinu til 
         að henta þínum þörfum. Vinsælar blómafyrirtæki okkar munu vinna 
         með þér að sérsniðnum buketum og miðstæðum sem gera atburðinn 
         þinn sérstakan. Við tilbúum einnig sömu dagssendingu og pöntun 
         á netinu fyrir þína þægindi. Heimsæktu okkur í dag til að skoða 
         val vort af blómum eða til að gera pöntun. Láttu okkur hjálpa þér 
         að gera atburðinn þinn einn til að minnast!
    </p>
</body>
</html>