<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="css/shop.css">
</head>
<body>
    <a href=""><h1 id="titleMainpage">Blómabúð</h1></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="help">Help</a></li>
    </ul>
    <table>
        <tr>
            <th><a href=""><img src="images/tulip.webp" alt="" id="shopPagePhoto"></a></th>
            <th><a href=""><img src="images/lilyofthevalley.jpg" alt="" id="shopPagePhoto"></a></th>
            <th><a href=""><img src="images/image.jpg"  alt="" id="shopPagePhoto"></a></th>
            <th><a href=""><img src="images/image2.jpg"  alt="" id="shopPagePhoto"></a></th>
        </tr>
        <tr>
            <td><a href="" id="shopPageText">Túlípani</a></td>
            <td><a href="" id="shopPageText">Lilja dalsins</a></td>
            <td><a href="" id="shopPageText">Kirsuberjablóm</a></td>
            <td><a href="" id="shopPageText">Brönugrös</a></td>
        </tr>
    </table>
</body>
</html>