
 body { 
  background: url('../images/1-flower-wallpaper\ \(1\).jpg'); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutMainpage{
    background-color: bisque;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Roboto mono';
    font-size: x-large;
    border: 1px solid black;
    border-radius: 10px;
}

#titleMainpage {
    font-size: 50pt;
    margin-top: -1px;
    margin-bottom: -5px;
    text-align: center;
    font-family: 'Roboto Mono';
    text-shadow: white 1px 1px;
}
a{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto Mono';
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }