@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

 body { 
  background: url('../images/1-flower-wallpaper\ \(1\).jpg'); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
    
#titleMainpage {
    font-size: 50pt;
    margin-top: -1px;
    margin-bottom: -5px;
    text-align: center;
    font-family: 'Roboto Mono';
    text-shadow: white 1px 1px;
}
a{
    text-decoration: none;
    color: black;
}

#shopPagePhoto {
    border: #111 solid 2px;
    border-radius: 10px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 300px;
    height: 300px;
    margin-left: cover;
    margin-top: cover;
}

#shopPageText {
    text-align: center;
    font-family: 'Roboto Mono';
    margin-left: 130px;
    font-size: x-large;
    text-shadow: white 1px 1px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto Mono';
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }